* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    color: #00ff41;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-image: url("../pictures/starfield_alpha.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: large;
    font-family: "Orbitron", "Courier New" sans-serif;
}

.home-container {
    text-align: center;
}

.title {
    font-size: 8vw;
    font-weight: bold;
    color: #00ff41;
    text-shadow: 0 0 20px #00ff41, 0 0 40px #00ff41;
    margin-bottom: 3vw;
    letter-spacing: 5px;
}

.subtitle {
    font-size: 2.5vw;
    color: #0ff;
    margin-bottom: 6vw;
}

.btn {
    background: transparent;
    border: 3px solid #00ff41;
    color: #00ff41;
    padding: 2vw 5vw;
    font-size: 2vw;
    font-family: 'Courier New', monospace;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 20px #00ff41;
    transform: scale(1.20);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: fixed;
    margin-top: auto;
    width: 500px;
    aspect-ratio: 9 /13;
    border-radius: 6px;
    border: 7px solid greenyellow;
}

.data {
    position: fixed;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.score,
.time,
.level,
.lives {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    font-weight: bold;
    color: greenyellow;
}

.heart {
    width: 30px;
    height: 30px;
}

.pause-popup {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pause-content {
    border: 3px solid #00ff41;
    border-radius: 15px;
    padding: 5vw;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 255, 65, 0.5), 0 0 60px rgba(0, 255, 65, 0.3);
}


.pause-title {
    font-size: 5vw;
    color: #00ff41;
    text-shadow: 0 0 20px #00ff41, 0 0 40px #00ff41;
    margin-bottom: 4vw;
}

.pause-buttons {
    display: flex;
    flex-direction: column;
    gap: 2vw
}

.pause-btn {
    background: transparent;
    border: 2px solid #00ff41;
    color: #00ff41;
    padding: 2vw 4vw;
    font-size:2vw;
    font-family: 'Courier New', monospace;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}


.pause-btn:hover {
    box-shadow: 0 0 20px #00ff41;
    transform: translateX(5px);
}

.restart-btn {
    border-color: #ffaa00;
    color: #ffaa00;
}

.restart-btn:hover {
    box-shadow: 0 0 20px #ffaa00;
}

.quit-btn {
    border-color: #ff0040;
    color: #ff0040;
}

.quit-btn:hover {
    box-shadow: 0 0 20px #ff0040;
}

/* fusée */
#rocket {
    background-repeat: no-repeat;
    width: auto;
    height: 50px;
    margin-top: 120%;
    margin-left: 46%;
    background-image: url("../pictures/fusée.png");
    background-size: contain;
    will-change: transform;
}

.projectile {
    height: 40px;
    width: auto;
    position: fixed;
    will-change: transform;
}